# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
envSearchAlgo/
.venv/
venv/

# PyTest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
tmp/